
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 88%;
  margin: auto;
}
*{
  font-size: 16px;
  margin: 0;
}
/* This is a top_section css-line comment */

#top_banner_s{
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;

}
.conrain_wrapper {
  /* overflow: hidden; */
  display: flex;
}

.lef_c {
  width: 50%;
}
#perker_name{
  color: orange;
  font-size: 60px;
}

.right_c {
  width: 50%;
}

.right_c img {
  width: 96%;
}

.lef_c h1 {
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 70px;
}

.lef_c h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}

#button_link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  background-image: linear-gradient(orange, tomato);
  color: white;
  padding: 10px 30px;
  font-size: 21px;
  border-radius: 5px;
  transition: 0.5s;

  /* margin-top: 260px; */
}
#button_link:hover{
  color: black;
  background-image: linear-gradient(rgb(232, 161, 31), rgb(211, 47, 18));
}

.lef_c p {
  font-size: 18px;
  margin-bottom: 80px;
}

/* This is a dream_section css-line comment */
#dream-s{
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 90px;
}

.dream_wrapper {
  display: flex;
}

.lef_c img {
  width: 93%;
}

.right_c h1 {
  font-size: 60px;
}

.right_c h3 {
  font-size: 30px;
  margin-top: 40px;
}

.right_c p {
  margin-top: 11px;
  margin-bottom: 98px;
}
section#experiance_s {
  margin-bottom: 50px;
  margin-top: 77px;
}

section#experiance_s h1 {
  font-size: 42px;
  margin-bottom: 41px;
}

.min_ex_erapper {
  display: flex;
}

.ex_box {
  width: 45%;
}

.ex_box h1 {
  font-size: 32px;
}

.ex_box h2 {
  font-size: 31px;
  margin-bottom: 20px;
}

.ex_box h3 {
  font-size: 19px;
  color: orange;
}
section#experiance_s {
  margin-bottom: 50px;
  margin-top: 77px;
}

section#experiance_s h1 {
  font-size: 42px;
  margin-bottom: 41px;
}

.min_ex_erapper {
  display: flex;
  justify-content: space-between;
}

.ex_box {
  width: 43%;
  padding-left: 37px;
  box-shadow: 0px 0px 39px -11px black;
}

.ex_box h1 {
  font-size: 32px;
}

.ex_box h2 {
  font-size: 34px;
  margin: 36px 0px;
}

.ex_box h3 {
  font-size: 21px;
  color: orange;
  margin: 12px 0px;
}

.ex_box p {
  color: gray;
  line-height: 23px;
  margin-bottom: 110px;
}